.App {
   text-align: center;
   background-image: url("./imagenes/Purple_Nebula_Universe_Space_Abstract_Design_1366x768.jpg");
   background-repeat: no-repeat;
   background-position: center center;
   background-attachment: fixed;
}
.divCard{
   background-color: purple;
}


