.App {
   /* text-align: center; */
   background-image: url("./imagenes/HD-wallpaper-rick-and-morty-space-universe-rick-and-morty-thumbnail.jpg");
   background-repeat: no-repeat; 
   background-position: center center; 
   background-attachment:scroll;
   background-size: cover;
  
}
.divCard{
   background-color: purple;
}


