body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("https://images3.alphacoders.com/812/thumbbig-812062.webp");
  background-repeat: no-repeat; 
  background-position:center center; 
  background-attachment:fixed;
  background-size:cover;
  font-family: comic Verdana, Geneva, Tahoma, sans-serif, Helvetica, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
